@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
* {
    font-family: 'Cairo', sans-serif;
    outline: none;
    text-align: right;
    box-sizing: border-box;
}

/* Contect */
.center-contect {
    padding: 70px;
    width: 55%;
    height: 100%;
    display: inline-block;
    position: relative;
    right: 300px;
}
.post-item {
    background: #fff;
    padding: 50px;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-bottom: 50px;
}
.shiekh-name {
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    top: -30px;
}
.ask {
    padding: 20px;
    font-size: 1.2rem;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}
.question, .answer {
    color: #488199;
    margin-left: 20px;
    font-weight: 700;
}
.question-description, .answer-description {
    color: #79797a;
}
.not-answered {
    display: inline-block;
    position: absolute;
    right: 75%;
    height: 100%;
    width: 24%;
    padding: 30px;
}
.not-answerd-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}

/* Media Query */
@media (max-width: 1200px) {
    .center-contect {
        position: relative;
        width: 100%;
        padding: 10px;
        right: 0;
        display: block;
    }
    .not-answered {
        display: block;
        position: relative;
        right: 0;
        width: 100%;
    }
    .post-item {
        padding: 20px;
    }
}